@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
/* Custom CSS Variables for shadcn/ui compatibility */
@theme{
  --font-arabic: 'Amiri', serif;
  --bg-primary: #f8ead4;
  --bg-secondary: #e0d7c3;
}

body{
  overflow-x: hidden;
}